.p1 {
  color: #40b0ea;
  text-shadow: 2px 2px 2px rgb(64 176 234 / 50%);
  font-size: 21px;
  line-height: 48px;
  width: 100%;
}
.notice-list li {
  height: 35px;
  margin-top: 4px;
  background-color: #f4f4f4;
  list-style-type: none;
}
.notice-list p {
  font-size: 16px;
  line-height: 35px;
  list-style: none;
}
.notice-time {
  float: right;
  margin-right: 15px;
  margin: 0px;
  padding: 0;
  list-style: none;
  font-family: 'Microsoft Yahei';
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
.notice-list a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
.notice-list a:hover {
  color: #40b0ea;
}
.notice-time {
  color: #a1a0a0;
}
.list-bottom {
  text-align: center;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list-bottom a {
  color: black;
  font-weight: bold;
  margin: 5px 10px 0 0;
  border: 1px solid #2bf;
  padding: 5px 10px;
  text-decoration: none;
}
.list-bottom span {
  color: #f4f4f4;
  font-weight: bold;
  margin: 5px 10px 0 0;
  border: 1px solid #2bf;
  padding: 5px 10px;
  background-color: #2bf;
}
.extend {
  color: #f4f4f4;
  border: 1px solid #f4f4f4;
}
