<link rel="stylesheet" href="/css/post.css">
<div class="posts">
  <a href="/index.html"><i class="fa fa-home
replay-btn" aria-hidden="true"></i></a>
  <div class="post-title">
    <p>
      <%= page.title %>
    </p>
    <hr>
  </div>
  <div class="post-content">
    <%- page.content %>
  </div>
  <%- include('common/valine.ejs') %>
</div>