<!--<link rel="stylesheet" href="/css/top-header.css">
<div id="top-bar" class="fixed">

  <a class="goto-top" href="#"></a>
  <ul class="bar-list bar-list-1">
    <% Object.keys(theme.topmenu).forEach(key=> { %>
      <li>
        <p>
          <a href="<%=theme.topmenu[key]%>">
            <text class="bar-text bar-p1">
              <%=key%>
            </text>
            <text class="bar-text bar-p2"></text>
          </a>
          <text class="bar-p3">/</text>
        </p>
      </li>
      <% }); %>
  </ul>
</div>-->